<%- include('partials/header') -%>
<link href="../public/css/style.css" rel="stylesheet" type="text/css">
<!-- <script src="../public/js/main.js"></script> -->

<div class="container">
<!-- <h1> This is the Connect page where you can connect with other gamers </h1> -->
<p class="mt-5"><span>Don't see your game here?</span></p>
<div class="new-topic-form">
  <h2>Create a New Topic</h2>
  <form action="/connect/createTopic/" method="POST">
      <div class="mb-3">
          <label for="topicTitle" class="form-label">Topic Title</label>
          <input type="text" class="form-control" id="topicTitle" name="topicTitle" required>
      </div>
      <button type="submit" class="btn btn-primary">Create Topic</button>
  </form>
</div>

<div>
  <div>


    <div>
      <ul class="list-unstyled">
        <% for(var i=0; i<Topic.length; i++) {%>
          <li class="posts pt-3 pb-3">
              <a href="/connect/topic/<%= Topic[i]._id%>">
                <h1> <%= Topic[i].title %> </h1>
              </a>
            <span> Connections: <%= Topic[i].connections.length %> </span>
            <% if (Topic[i].connections.length > 0) { %>
              <% const lastConnectionId = Topic[i].connections[Topic[i].connections.length - 1] %>
              <% const lastConnection = Connections.find(conn => String(conn._id) === String(lastConnectionId)) %>
              <span> Last Connection: <%= lastConnection.createdAt.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %> </span>

            <% } %>
          </li>
        <% } %>
      </ul>
    </div>


    
  </div>  
</div>
</div>

<%- include('partials/footer') -%>