<%- include('partials/header') -%>
<link href= "/css/post.css" rel="stylesheet" type="text/css">

<div class="container">
  <div class="mt-5">
    <div>
      <!-- <h2><%= post.title %></h2> -->
      <h1 class="postPageComment"> <%= post.comment %> </h1>
      <img class="img-fluid" src="<%= post.image%>" />
      <div class="d-flex justify-content-between">
        <form
          class=""
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
        <button class="<%= post.likedBy.some(id => String(id).trim() === user.id.trim()) ? 'btn btn-danger' : 'btn btn-outline-danger' %> fa fa-heart" type="submit"></button>
        <span> <%= post.likes %></span>
        </form>
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class=""
        >
          <button class="btn btn-primary fas fa-trash-alt" type="submit"></button>
        </form>
        <%}%>
      </div>
        <h4 class ="mt-5"><a href="/profile/<%=post.user%>"><%= postUsername %></a></h4>
    </div>
    <div class="col-3 mt-5">
      <p><%= post.caption %></p>
    </div>
    <div class="mt-5">
      
      <form action="/comment/createComment/<%=post._id%>" method="POST">
        <div class="mb-3">
            <label for="comment" class="form-label">Comment</label>
            <!-- <input type="text" class="form-control" id="comment" name="comment" placeholder="Add a comment"> -->
            <textarea class ="postInput form-control" id="comment" name= "comment" placeholder="Add a comment" rows="2"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
      <ul>
        <% const renderComment = (comment) => { %>
          <% if (!comment.parentComment) { %>
            <li class="col-6 justify-content-between mt-5">
              <div>
              <a href="/profile/<%= comment.createdById %>"><%= comment.createdBy %></a> : <%= comment.comment %>
              </div>
              <div class="commentActions">
              <form action="/comment/createComment/<%= post._id %>" method="POST">
                <div class="mb-3">
                  <textarea class="postInput form-control" id="comment" name="comment" placeholder="Add a comment" rows="2"></textarea>
                </div>
                <input type="hidden" name="parentCommentId" value="<%= comment._id %>">
                <button type="submit" class="btn btn-primary">Reply</button>
              </form>
    
              <% if (comment.createdById == user.id) { %>
                <form action="/comment/deleteComment/<%= post._id %>/<%= comment._id %>?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
              <% } %>
              </div>
            </li>
          <% } %>
    
          <% if (comment.replies && Array.isArray(comment.replies) && comment.replies.length > 0) { %>
            <ul>
              <% comment.replies.forEach(reply => { %>
                <% if (reply && reply.createdById) { %>
                  <li>
                    <a href="/profile/<%= reply.createdById %>"><%= reply.createdBy %></a> <span class="glyphicon glyphicon-triangle-right"></span> <a href="/profile/<%= comment.createdById %>"><%= comment.createdBy %></a> : <%= reply.comment %>


                    <form action="/comment/createComment/<%= post._id %>" method="POST">
                      <div class="mb-3">
                        <textarea class="postInput form-control" id="comment" name="comment" placeholder="Add a comment" rows="2"></textarea>
                      </div>
                      <input type="hidden" name="parentCommentId" value="<%= comment._id %>">
                      <button type="submit" class="btn btn-primary">Reply</button>
                    </form>

                    <% if (comment.createdById == user.id) { %>
                      <form action="/comment/deleteComment/<%= post._id %>/<%= comment._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                      </form>
                    <% } %>
                  </li>
                <% } %>
              <% }); %>
            </ul>
          <% } %>
        <% }; %>
    
        <% comments.forEach(renderComment); %>
      </ul>

    
      <div class="col-6 mt-5">
        <a class="btn btn-primary" href="/profile/<%= user.id %>">Return to Profile</a>
        <a class="btn btn-primary" href="/home">Return to Home</a>
      </div>
    </div>
    </div>
    
    <script src="/js/main.js"></script>
    <%- include('partials/footer') -%>