<%- include('partials/header') -%>
<link href="/css/profile.css" rel="stylesheet" type="text/css">

<div class="container">
  <div class="">
    <div class="profile-banner-container position-relative">
      <!-- Profile Banner -->
      <img class="profileBanner" src="<%= profile.profileBackground === 'defaultBackground.jpeg' ? '/imgs/defaultBackground.jpeg' : profile.profileBackground %>" alt="Profile Background">

      <!-- Profile Photo -->
      <div class="profile-pic-container position-absolute bottom-0 start-0">
      <img class ="profilePic" src="<%= profile.profilePicture === 'defaultPicture.png' ? '/imgs/defaultPicture.png' : profile.profilePicture %>" alt="Profile Picture">
      </div>

      <!-- Profile Options Button -->
      <% if(user.id == profile._id){ %>
      <div class="profile-options-btn position-absolute bottom-0 end-0">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="profileMenu" data-bs-toggle="dropdown" aria-expanded="false">
            Profile Options
          </button>
          <ul class="dropdown-menu" aria-labelledby="profileMenu">
              <li>
                <form action="/upload/profileBackground/<%= user.id %>" enctype="multipart/form-data" method="POST">
                  <div class="mb-3 img-fluid">
                    <label for="profileBackground" class="form-label">Change Background Picture</label>
                    <input type="file" class="form-control" id="profileBackground" name="file" style="display: none;">
                    <label for="profileBackground" class="custom-file-upload">
                      <img src="/imgs/upload.jpg" alt="Choose image" style="width: 30px; height: 30px;">
                    </label>
                  </div>
                  <button type="submit" class="btn btn-primary">Upload</button>
                </form>
              </li>
              <li>
                <form action="/upload/profilePicture/<%= user.id %>" enctype="multipart/form-data" method="POST">
                  <div class="mb-3 mt-3">
                    <label for="profilePicture" class="form-label">Change Profile Picture</label>
                    <input type="file" class="form-control" id="profilePicture" name="file" style="display: none;">
                    <label for="profilePicture" class="custom-file-upload">
                      <img src="/imgs/upload.jpg" alt="Choose image" style="width: 30px; height: 30px;">
                    </label>
                  </div>
                  <button type="submit" class="btn btn-primary">Upload</button>
                </form>
              </li>
              <a href="/logout" class="btn btn-primary mt-5">Logout</a>
          </ul>
        </div>
      </div>
      <% } %>
    </div>

      <div class="">
          <div class="profileInfo">
              <p><strong><%= profile.userName %></strong></p>
              <span>Following: <%= profile.following.length %></span>
              <span>Followers: <%= profile.followers.length %></span>

              <% if(user.id !== profile.id){ %> 
              <form action="/followUser/<%= profile.id %>" method="POST">
                <button type= "submit" class="btn btn-outline-primary">
                  <% if(user.following.includes(profile._id)){ %>
                    Unfollow
                  <% } else { %>
                  Follow
                  <% } %>
                </button>
              </form>
              <% } %>
          
              <% if(user.id == profile._id){ %>
                <!-- <p><strong>Email</strong>: <%= user.email %></p> -->
                <!-- <a href="/logout" class=" btn btn-primary">Logout</a> -->
            </div>
            <div class="formContainer mt-5 mb-3">
              <form class = "postForm" action="/post/createPost" enctype="multipart/form-data" method="POST">
                <div class="mb-3">
                    <label for="comment" class="form-label" text></label>
                    <textarea class ="postInput form-control" id="comment" name= "comment" placeholder="What's new?" rows="2"></textarea>
                </div>
                <div class = "postButtons">
                  <div class="mb-3">
                    <label for="imgUpload" class="form-label"></label>
                    <input type="file" class="form-control" id="imageUpload" name="file" style="display: none;">
                    <label for="imageUpload" class= "custom-file-upload">
                      <img src="/imgs/upload.jpg" alt="Choose image" style="width: 30px; height: 30px;">
                    </label>
                  </div>
                  <button type="submit" class="btn btn-primary" value="Upload">Post</button>
                </div>
              </form>
            </div>
              <% } %>
      <div class="profilePostsContainer">
        <ul class="profilePosts list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class=" profilePostList justify-content-between">
            <a href="/post/<%= posts[i]._id%>">
              <% if(posts[i].image){ %>
                <img class="img-fluid" alt="Responsive image" src="<%= posts[i].image%>">
                <% } %>
                <h4> <%= posts[i].comment %> </h4>
                <form
            class="col-1"
            action="/post/likePost/<%= posts[i]._id %>?_method=PUT"
            method="POST"
          >
          <button class="<%= posts[i].likedBy.some(id => String(id).trim() === user.id.trim()) ? 'btn btn-danger' : 'btn btn-outline-danger' %> fa fa-heart" type="submit"></button>
          <span><%= posts[i].likes %></span>

          </form>
          </li>
        <% } %>
        </ul>
      </div>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/home">Return to Home</a>
        </div>    
    </div>
  </div>
</div>

<script src="/js/main.js"></script>
<%- include('partials/footer') -%>